<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Padrao" providerName="System.Data.ProviderName" connectionString="Server=(localdb)\\mssqllocaldb;Database=AulaBancoDeDados;Trusted_connection=true;" />
  <add name="DatabaseContext" connectionString="data source=(localdb)\mssqllocaldb;initial catalog=AulaBancoDeDados;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>